@use '../../styles/' as *;

.header {
  width: 100vw;
  // height: 100px;
  text-align: center;
  margin: 0 auto;
  color: #fff;
  font-size: 20px;
  display: block;
  line-height: 40px;
  background: linear-gradient(rgba(#808080, .7), rgba(#808080, .5)), url("../../images/pic_1-min.png") 100% 100% no-repeat;
  object-fit: contain;
  background-size: cover;
  min-height: 200px;
}

button {
	display: inline-block;	
	box-sizing: border-box;
	padding: 0 25px;
	margin: 20px;
	outline: none;
	border: 1px solid #fff;
	border-radius: 50px;
	height: 46px;
	line-height: 46px;
	font-size: 24px;
	font-weight: 600;
	text-decoration: none;
	color: #444;
	background-color: rgba($color-white, .5);
	box-shadow: 0 4px 6px rgb(65 132 144 / 10%), 0 1px 3px rgb(0 0 0 / 8%);
	cursor: pointer;
	transition: box-shadow 0.2s;

  &:hover {
    transition: all 0.2s;
    box-shadow: 0 3px 3px rgb(65 132 144 / 10%);
  }

  &:disabled {
    background-color: rgba(darkgreen, .4);
    border-color: $color-white-2;
    color: $color-grey-9;
    cursor: not-allowed;
  }
}